body {
    background-color: rgb(217, 235, 235);
    
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border: 2px dashed rgb(2, 2, 2);
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

img {
    width: 102.4px;
    height: 76.8px;
    margin-top: 10px;
    
}

header {
    text-align: center;
    border: 2px dashed rgb(15, 15, 15);
    padding: 50px;
    margin-bottom: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px dotted rgb(10, 10, 10);
    margin-bottom: 10px;
}

article {
    padding: 50px;
    flex:1;
    display: flex;
    justify-content: center;
    border: 2px solid yellow;
}

footer {
    display: flex;
    justify-content: end;
    border: 2px solid rgb(17, 17, 17);
    padding: 50px;
}

